a{
    color: #000;
    text-decoration: none;
}

button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #333;
}

